@import "Colors";

.pane-right, .pane-left {
  width: $width;
  > :not(:last-child) { border-bottom: $border; }
}
.pane:not(.container):not(.game) {
  padding: 4px 0;
  h2 {
    padding: 0 8px;
  }
  > div:not(.entry-cont) {
    padding: 0 8px;
  }
}

.pane-left { border-right: $border; }
.pane-right { border-left: $border; }

.tracks, .cars {
  //overflow-y: hidden;
  max-height: 50%;
}

.entry-cont {
  display: flex;
  flex-direction: column;
  > div {
    position: relative;
    background-color: rgba($primary, .25);
    margin: 4px 0;
    padding: 4px 8px;
    width: $width - 16px;
    cursor: default;
    user-select: none;
    &:hover {
      background-color: rgba($primary, .4);
      .entry-desc {
        display: block;
        z-index: 10;
      }
    }
    &:active {
      background-color: rgba($primary, .35);
    }
    .align-right {
      float: right;
    }
    .entry-desc {
      width: $width * 2 - 8px;
      padding: 4px 8px;
      color: black;
      background-color: rgba($primary, .7);
      position: absolute;
      display: none;
      left: $width;
      top: 0;
      z-index: -1;
    }
  }
}

.mobile {
  .pane-left, .pane-right {
    width: 100%;
    border: none;
    .pane {
      border-bottom: $border;
      padding-bottom: 12px;
    }
  }
  .pane-left > :last-child {
    padding-bottom: 36px;
    border: none;
  }
  .entry-cont {
    flex-direction: row;
    > div {
      margin: 0 4px;
      .entry-desc {
        top: auto;
        left: 0;
        bottom: 26px;
      }
    }
  }
}